
<div class="navbar border-bottom">
    <div class="navbar-inner">
        <div class="navbar-left" ng-click="back()">
            <a href="javascript:void(0);">
                <i class="icon icon-back-arrow"></i>
            </a>
        </div>
        <h2 class="navbar-center">优惠券详情</h2>
        <div class="navbar-right" ng-click="slidePage('/home')">
            <a href="javascript:void(0);" class="header-menu-btn">
                <i class="icon icon-back-home"></i>
            </a>
        </div>
    </div>
</div>

<section class="content scroll-content coupondetail-content">
    <div class="coupondetail-top">
        <p class="coupondetail-img-wrap"><img src="images/banner/banner1.png" /></p>
        <h3 class="color-000 font-16 border-bottom text-ellipsis">Chanel No五号香水</h3>
        <div class="coupondetail-text border-bottom">
            <p class="fl-left color-999"><em class="color-orange font-18">&yen;20</em>  满200</p>
            <p class="fl-left marginleft5">
                <label class="label-state label-coupon font-10">代金券</label>
            </p>
            <button class="fl-right button-background button-touched font-14">立即领取</button>
        </div>
        <div class="coupondetail-validity color-666 border-bottom">有效期： 2015.12.07</div>
        <div class="coupondetail-shop margintop10 border-bottom border-top">
            <span class="font-16">Channel官方旗舰店</span>
            <span class="color-666 fl-right font-10">2F 饰品</span>
            <em class="icon icon-right-arrow"></em>
        </div>
    </div>


    <div class="coupondetail-explain margintop10">
        <article class="coupondetail-article">
            <h1 class=" color-999 border-bottom">优惠券说明</h1>

            <section class="coupondetail-article-cont">
                <h2>一、使用说明</h2>
                <p>1. 优衣库品牌专柜优惠券优衣库品牌专柜优惠券优衣库品牌专柜优惠券 </p>
                <p>1. 优衣库品牌专柜优惠券优衣库品牌专柜优惠券优衣库品牌专柜优惠券 </p>
                <p>1. 优衣库品牌专柜优惠券优衣库品牌专柜优惠券优衣库品牌专柜优惠券 </p>
            </section>

            <section class="coupondetail-article-cont">
                <h2>二、使用时间</h2>
                <p>2015.2.10-215.2.11</p>
            </section>

        </article>
    </div>
    
</section>

