
<div id="navbar" class="navbar">
    <div class="navbar-inner navbar-on-center">
        <div id="backBtn" class="left" ng-click="back()">
            <a class="link">
                <i class="icon-back-arrow"></i>
            </a>
        </div>
        <h2 class="center sliding" id="appTitle">车次列表</h2>
        <a id="rightBtn" href="javascript:void(0);" class="header-menu-btn touchable"></a>
    </div>
</div>


<section class="no-result content bus-train-list background-native"  style="margin-top: 100px;">>
</section>

