
<div class="navbar border-bottom">
    <div class="navbar-inner">
        <div class="navbar-left" ng-click="back()">
            <a href="javascript:void(0);">
                <i class="icon icon-back-arrow"></i>
            </a>
        </div>
        <h2 class="navbar-center">积分商城</h2>
        <div class="navbar-right" ng-click="slidePage('/home')">
            <a href="javascript:void(0);" class="header-menu-btn">
                <i class="icon icon-back-home"></i>
            </a>
        </div>
    </div>
</div>


<section class="content scroll-content coupon-content">
    <div class="coupon-order border-bottom">
        <p class="width33">
            <span>优惠类型</span>
            <em class="icon icon-down-triangle"></em>
            <span class="line border-right"></span>
        </p>
        <p class="width33">
            <span>全部分类</span>
            <em class="icon icon-down-triangle"></em>
            <span class="line border-right"></span>
        </p>
        <p class="width33">
            <span>全部楼层</span>
            <em class="icon icon-down-triangle"></em>
        </p>
    </div>

    <ul class="coupon-list">
        <li class="flex clearfix coupon-listitem border-bottom">
            <div class="coupon-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="coupon-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">全场通用优惠券 无限额券啊啊啊</h3>
                <div class="font-12 color-999 clearfix po-relative">
                    <p class="fl-left"><em class="color-orange font-18">&yen;20</em>  满200</p>
                    <p class="po-absolute" style="right:0;bottom:0;">
                        <label class="label-vip font-12">VIP专享</label>
                        <label class="label-coupon font-12">代金券</label>
                        <label class="label-discount font-12">折扣券</label>
                    </p>
                </div>
                <div class="font-12 color-999 margintop4">水天堂西餐厅</div>
                <div class="margintop4 clearfix font-12">
                    <p class=" color-999 fl-left">3F 饰品</p>
                    <p class=" color-666 fl-right">有效期： 2015.12.10</p>
                </div>
            </div>
        </li>


    </ul>

</section>

