


<section class="content home">
    <div class="home-top">
        <div class="home-search-wrap">
            <input class="home-search" type="text" placeholder="搜索商场全部相关信息"/>
        </div>
        <p>
            <img src="images/home_logo.png" class="top-logo" title="盈联智能" />
        </p>
        <ul class="home-nav clearfix">
            <li>
                <div class="flex flex-align-center flex-pack-center"><span class="icon icon-home-member"></span></div>
                <span>会员</span>
            </li>
            <li>
                <div class="flex flex-align-center flex-pack-center"><span class="icon icon-home-member"></span></div>
                <span>店铺</span>
            </li>
            <li>
                <div class="flex flex-align-center flex-pack-center"><span class="icon icon-home-member"></span></div>
                <span>活动</span>
            </li>
            <li>
                <div class="flex flex-align-center flex-pack-center"><span class="icon icon-home-member"></span></div>
                <span>地图</span>
            </li>
            <li>
                <div class="flex flex-align-center flex-pack-center"><span class="icon icon-home-member"></span></div>
                <span>停车</span>
            </li>
        </ul>
    </div>
    <div class="">


        <div id="slideBox" class="slideBox">
            <div id="picContainer" class="pic-container">
                <ul id="advBox">
                    <li><img src="images/banner/banner1.png" /></li>
                    <li><img src="images/banner/banner1.png" /></li>
                    <li><img src="images/banner/banner1.png" /></li>
                    <li><img src="images/banner/banner1.png" /></li>
                </ul>
            </div>
            <div id="btnContainer" class="btn-container">
                <ul></ul>
            </div>
        </div>

        <ul class="home-list">
            <li class="home-listitem">
                <dl>
                    <dt class="border-bottom">
                        <em class="icon icon-home-star"></em>
                        <h3>精品专区</h3>
                    </dt>
                    <dd>
                        <p>Christian</p>
                        <p>发过免税新款时尚女包</p>
                        <p>
                            <img src="" alt=""/>
                        </p>
                    </dd>
                </dl>
            </li>
        </ul>





    </div>




</section>

