
<div class="navbar border-bottom">
    <div class="navbar-inner">
        <div class="navbar-left" ng-click="back()">
            <a href="javascript:void(0);">
                <i class="icon icon-back-arrow"></i>
            </a>
        </div>
        <h2 class="navbar-center">积分商城</h2>
        <div class="navbar-right" ng-click="slidePage('/home')">
            <a href="javascript:void(0);" class="header-menu-btn">
                <i class="icon icon-back-home"></i>
            </a>
        </div>
    </div>
</div>


<section class="content scroll-content interalmall-content">
    <div class="interalmall-order flex border-bottom">
        <div class="intermall-order-section flex-1">
            <p>
                <span>类别</span>
                <em class="icon icon-down-triangle"></em>
                <span class="line border-right"></span>
            </p>
            <p>
                <span>智能排序</span>
                <em class="icon icon-down-triangle"></em>
                <span class="line border-right"></span>
            </p>
        </div>
        <div class="interalmall-order-more">
            <em class="icon icon-order-more"></em>
        </div>
    </div>
    <ul class="interalmall-list">
        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>

        <li class="flex clearfix interalmall-listitem border-bottom">
            <div class="interalmall-img-wrap">
                <img class="interalmall-img" src="" />
            </div>
            <div class="interalmall-listitem-cont flex-1">
                <h3 class="text-ellipsis font-14">创意抱枕定制2件套礼盒装aaaaaaaaaaaa卡萨丁剪发卡上的</h3>
                <div class="font-12">
                    <span class="color-666"><em class="color-orange font-16">1500</em>积分</span>
                    <span class="vip">VIP专享</span>
                </div>
                <div class="interalmall-other clearfix">
                    <p class="font-12">
                        <span class="color-666">原价 &yen; 360</span>
                        <span class="color-c5">剩余 150/200</span>
                    </p>
                    <button class="font-14">兑换</button>
                </div>
            </div>
        </li>
    </ul>

</section>

