<!--<div class="loading-indicator-overlay" data-ng-show="showLoading && false"></div>-->
<div class="loading-indicator-modal" data-ng-show="showLoading">
    <div class="loading-indicator-inner">


        <!--<div class="loading-indicator-content">
            <div class="loading-indicator-text">{{loadingText}}</div>
            <div class="loading-indicator-pic">
                <div class="loading-gif"></div>
            </div>
        </div>
        <div class="loading-indicator-close" data-ng-click="closeLoading()">
            <div class="loading-close-border"></div>
            <span></span>
        </div>-->

         <div class="loading-indicator-content">
            <div class="loading-indicator-pic">
                <div class="loading-gif">
                </div>
            </div>
            <div id="loading-indicator-text" class="loading-indicator-text">
                正在加载…</div>
        </div>
        <div id="loading-indicator-close" class="loading-indicator-close" data-ng-click="closeLoading()">
            <div class="loading-close-border">
            </div>
            <span></span>
        </div>

    </div>
</div>




