.home {
    width: 100%;
    height: 100%;
    background: url('../images/home_bg.png') no-repeat 100% 100%;
    background-size: 100% 100%;
}

.home-top {
    padding: 15px;
}

.home-top .top-search-wrap {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border:1px solid #4F6773;
    border-radius:  24px;
    text-align: center;
}
.home-top .top-search {
    display: inline-block;
    /*width: 100%;*/
    height: 100%;
    border:none;
    border-radius: 24px;
    /*padding-left:  30%;*/
    margin: 0 auto;
    color: #ffffff;

}
.home-top .top-search {
     padding-left: 10px;
     background: url(http://img1.40017.cn/cn/s/touch/2014/67469/searchSign.jpg) no-repeat 0px center;
     background-size: 15px 15px;
}
.home-top p {
    padding: 10px 0;
    text-align: center;
}
.home-top .top-logo {
    width: 94px;
}