body, html {
  font-family: sans-serif; }

.scroll-content {
  background: #e8ecf0;
  position: absolute;
  top: 5.625rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.font-18 {
  font-size: 2.25rem; }

.font-16 {
  font-size: 2rem; }

.font-14 {
  font-size: 1.75rem; }

.font-12 {
  font-size: 1.5rem; }

.font-11 {
  font-size: 1.375rem; }

.font-10 {
  font-size: 1.25rem; }

.width50 {
  width: 50%; }

.width33 {
  width: 33%; }

.margintop10 {
  margin-top: 1.25rem; }

.margintop8 {
  margin-top: 1rem; }

.margintop6 {
  margin-top: 0.75rem; }

.margintop4 {
  margin-top: 0.5rem; }

.margintop2 {
  margin-top: 0.25rem; }

.home {
  width: 100%;
  height: 100%;
  background: url("../images/home_bg.png") no-repeat 100% 100%;
  background-size: 100% 100%; }

.home-top {
  padding: 0.9375rem; }
  .home-top .home-search-wrap {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #4F6773;
    border-radius: 1.5rem;
    text-align: center;
    background: #214C8E; }
  .home-top .home-search {
    display: inline-block;
    height: 100%;
    border: none;
    border-radius: 1.5rem;
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.25rem;
    padding-left: 0.625rem;
    background: url(http://img1.40017.cn/cn/s/touch/2014/67469/searchSign.jpg) no-repeat 0px center;
    background-size: 15px 15px; }
  .home-top > p {
    padding: 0.9375rem 0;
    text-align: center; }
  .home-top .top-logo {
    width: 11.6875rem; }

.home-nav {
  white-space: nowrap;
  overflow-x: scroll; }
  .home-nav li {
    float: left;
    color: #ffc108;
    text-align: center;
    margin: 0 0.3125rem 0 0;
    font-size: 1.5rem; }
    .home-nav li > div {
      height: 5.5rem;
      width: 5.5rem;
      line-height: 5.5rem;
      margin-bottom: 0.3125rem; }

.home-list {
  background: #ffffff;
  margin-top: 0.9375rem; }

.home-list dt {
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  color: #ffc108;
  font: 1.5rem; }

.slideBox {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px !important;
  max-width: 40rem; }

.slideBox ul {
  border: none; }

.slideBox .btn-container {
  position: absolute;
  height: 1.75rem;
  line-height: 1.75rem;
  bottom: 0;
  right: 0;
  z-index: 1; }

.slideBox .btn-container li {
  padding: 0;
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 0.625rem;
  background: #999;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 0.375rem;
  border: none; }

.slideBox .btn-container li.on {
  background: #FEE662; }

.slideBox .pic-container {
  position: relative;
  z-index: 0;
  /* height:0; */ }

.slideBox .pic-container li {
  padding: 0;
  position: relative;
  text-align: center; }

.slideBox .pic-container li img {
  vertical-align: top;
  width: 100%; }

.slideBox .pic-container li a {
  -webkit-tap-highlight-color: transparent; }

.ani-banner {
  -webkit-transition: height .4s ease-out;
  transition: height .4s ease-out; }

.interalmall-order, .coupon-order {
  background: #ffffff;
  height: 5rem;
  width: 100%;
  line-height: 5rem; }

.intermall-order-section p, .coupon-order p {
  float: left;
  text-align: center;
  font-size: 1.75rem;
  position: relative; }
  .intermall-order-section p .line, .coupon-order p .line {
    height: 2.5rem;
    width: 0;
    position: absolute;
    top: 1.25rem;
    right: 0; }

.interalmall-list, .coupon-list {
  background: #ffffff; }

.interalmall-listitem, .coupon-listitem {
  padding: 1.25rem; }

.interalmall-img-wrap, .coupon-img-wrap {
  height: 10.375rem;
  width: 13.75rem;
  border: 1px solid #e4e5e6;
  margin-right: 1.25rem; }
  .interalmall-img-wrap img, .coupon-img-wrap img {
    height: 100%;
    width: 100%; }

.interalmall-listitem-cont h3, .coupon-listitem-cont h3 {
  color: #000000;
  margin: 0.25rem 0 0.25rem 0; }
.interalmall-listitem-cont label, .coupon-listitem-cont label {
  color: #ffffff;
  height: 1.75rem;
  width: 5.125rem;
  line-height: 1.75rem; }
.interalmall-listitem-cont .label-vip, .coupon-listitem-cont .label-vip {
  background: #FF735C; }
.interalmall-listitem-cont .label-coupon, .coupon-listitem-cont .label-coupon {
  background: #FF8400; }
.interalmall-listitem-cont .label-discount, .coupon-listitem-cont .label-discount {
  background: #4CA4FF; }

.interalmall-order-more {
  width: 5rem; }

.intermall-order-section {
  margin-right: 0.125rem; }

.interalmall-other p span {
  display: block; }
.interalmall-other button {
  background: #ff8400;
  border-radius: 0.25rem;
  height: 3.125rem;
  width: 7.5rem;
  color: #ffffff; }
.interalmall-other button:active {
  background-color: #f60 !important; }

.coupon-order > div {
  width: 33.3333333%; }

/*# sourceMappingURL=page.css.map */
